{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "5.11.0"}
        com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}
        com.health-samurai/matcho {:mvn/version "0.3.11"}
        org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}}

 :aliases
 {:dev {:extra-paths ["dev"]}
  :test {:extra-paths ["tests"]
         :deps {}}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.4"}}
          :ns-default build}}}
