{:paths ["src"]
 :deps {clj-http/clj-http                    {:mvn/version "3.13.0"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
        org.clojure/clojure                  {:mvn/version "1.11.3"}
        org.clojure/data.json                {:mvn/version "2.5.0"}
        org.clojure/tools.cli                {:mvn/version "1.1.230"}}

 :aliases
 {:dev {:extra-paths ["dev"]}

  :test {:extra-paths ["test"]
         :exec-fn     kaocha.runner/exec-fn
         :extra-deps  {com.health-samurai/matcho  {:mvn/version "0.3.11"}
                       lambdaisland/kaocha        {:mvn/version "1.91.1392"}
                       nubank/matcher-combinators {:mvn/version "3.9.1"}}}

  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}}}
